<section class="container hero is-large">
    <div class="hero-body">
      <div class="main-hero-copy">
        <h1 class="title">
          Let's Build Your <br> 
          <span class="hero-highlight">Online Success</span> 
          <br> Together<span class="hero-highlight-dot">.</span>
        </h1>
        <p class="subtitle">
          We help businesses 
          <br>build their online presence & 
          <br>attract more customers.
        </p>
        <br>
        <a href="/services#plans">See Plans</a>
      </div>
    </div>
</section>

