<!-- Section 3 -->

<section class="container sec-3 hero is-fullheight">
    <div class="">
      <hr><br>
      <!-- Section heading -->
        <h3 class="sec-3-heading">You want to get ahead, <br>
        but you're not entirely sure where to start
        </h3>
      
      <div class="sec-3-container">
        
        <h4>Here's how we can help</h4>

        <div class="level sec-3-level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Step 1:</p>
              <p class="title">Audit</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Step 2:</p>
              <p class="title">Strategy</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Step 3:</p>
              <p class="title">Optimize</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Step 4:</p>
              <p class="title">Monitor</p>
            </div>
          </div>
        </div>

        <!-- Details on the steps -->
        <div class="columns steps-details">
          <div class="column">
            <img src="/img/audit-500.png" alt="">
          </div>
          <div class="column">
            <p class="step-dt-heading">Step 1: Audit</p>
            <p class="step-dt-title">Understand Your <br>Online Strengths & Weaknesses</p>
            <p class="step-dt-p">By the end of this step, you will:</p>
            <ul class="step-dt-pts">
              <li>Know what needs fixing on your website and online brand.</li>
              <li>Understand how to find more potential customers.</li>
              <li>See where your marketing money is going.</li>
              <li>Learn from what rivals are doing online.</li>
              <li>Have information to guide smart marketing choices.</li>
            </ul>
          </div>
        </div>
        
        <hr class="step-hr">
        
        <div class="columns steps-details">
          <div class="column">
            <p class="step-dt-heading">Step 2: Strategy</p>
            <p class="step-dt-title">Implement Strategic Digital Marketing</p>
            <p class="step-dt-p">By the end of this step, you will:</p>
            <ul class="step-dt-pts">
              <li>Know what you want to achieve with marketing.</li>
              <li>Understand who your ideal customers are.</li>
              <li>Have a plan for what to create and share.</li>
              <li>Know where and how to place ads.</li>
              <li>Have a roadmap for effective marketing moves forward.</li>
            </ul>
          </div>
          <div class="column">
            <img src="/img/strategy-500.png" alt="">
          </div>
        </div>

        <hr class="step-hr">
        
        <div class="columns steps-details">
          <div class="column">
            <img src="/img/optimize-500.png" alt="">
          </div>
          <div class="column">
            <p class="step-dt-heading">Step 3: Optimize</p>
            <p class="step-dt-title">Boost Your Online Performance</p>
            <p class="step-dt-p">By the end of this step, you will:</p>
            <ul class="step-dt-pts">
              <li>Have the online presence that attracts customers.</li>
              <li>See more visitors turning into leads or buyers.</li>
              <li>Spend money where it matters most.</li>
              <li>Have ways to outperform your industry rivals online.</li>
              <li>Have enhanced user experience and engagement.</li>
            </ul>
          </div>
        </div>
        
        <hr class="step-hr">

        <div class="columns steps-details">
          <div class="column">
            <p class="step-dt-heading">Step 4: Monitor</p>
            <p class="step-dt-title">Watch & Adjust</p>
            <p class="step-dt-p">By the end of this step, you will:</p>
            <ul class="step-dt-pts">
              <li>Have data on how your marketing efforts are performing.</li>
              <li>Understand what's working and what needs adjustment.</li>
              <li>Be able to use data to make smart marketing choices.</li>
              <li>Know which marketing elements perform better.</li>
              <li>Understand customer experiences and gather suggestions.</li>
            </ul>
          </div>
          <div class="column">
            <img src="/img/monitor-500.png" alt="">
          </div>
        </div>

      </div>
       
    </div>
</section>