<section>

    <div class="services-container">

        <div class="services-header">
            <h1>
                Membership levels
            </h1>

            <p>Choose a plan that's right for you.</p>
        </div>

        <div class="spacer-sm"></div>

        <div class="pricing-container">

            <div class="grid-container">

                <div class="grid-item-1">
                    <h3>Standard</h3>
                    <p>Pause or cancel anytime.</p>
                    <div class="spacer-sm"></div>
                    <p><span class="price">$3,999</span> <span>/ month</span></p>
                    <p class="note">Pause or cancel anytime.</p>
                    <div class="pricing-cta-container">
                        <div>
                            <a class="cta-pricing" target="_blank" href="">Get started</a>
                        </div>
                         <div>
                            <a class="cta-bookcall" target="_blank" href="https://forms.gle/9FAzZoF5TuetQtuR9">Book a call</a>
                         </div>
                    </div>
                    
                </div>

                <div class="grid-item-2">
                    <h3>Pro</h3>
                    <p>Pause or cancel anytime.</p>
                    <div class="spacer-sm"></div>
                    <p><span class="price">$5,999</span> <span>/ month</span></p>
                    <p class="note">Pause or cancel anytime.</p>
                    <div class="pricing-cta-container">
                        <div>
                            <a class="cta-pricing" target="_blank" href="">Get started</a>
                        </div>
                         <div>
                            <a class="cta-bookcall" target="_blank" href="https://forms.gle/9FAzZoF5TuetQtuR9">Book a call</a>
                         </div>
                    </div>    
                </div>
                
                <div class="grid-item-3">
                     <img src="/img/audit-500.png" alt="">
                     <div>
                        <h3>Book a call</h3>
                        <p>Not sure what to get? <br>
                        Learn more about how we can help you.</p>
                        <a class="cta-bookcall" target="_blank" href="https://forms.gle/9FAzZoF5TuetQtuR9">Book a call</a>
                     </div>
                     <hr>

                     <div>
                        <img src="/img/referral-500.png" alt="">
                        <h3>Refer & earn</h3>
                        <p>Earn 5% monthly recurring commissions for each referral.</p>
                        <a class="cta-bookcall" target="_blank" href="https://forms.gle/9FAzZoF5TuetQtuR9">Join now</a>
                     </div>
                     
                </div>

                <div class="grid-item-4 price-detail">
                    <p>What's included:</p><br>
                    <ul>
                        <li>Comprehensive SEO Optimization</li>
                        <li>Professional Copywriting</li>
                        <li>Strategic Social Media Management</li>
                        <li>Effective Email Marketing Campaigns</li>
                        <li>Monthly Performance Reports</li>
                        <li>Easy credit-card payments</li>
                        <li>Pause or cancel anytime</li>
                    </ul>
                    <div class="spacer-sm"></div>
                </div>
                <div class="grid-item-5 price-detail">
                    <p>What's included:</p><br>
                    <ul>
                        <li>Advanced SEO Strategies</li>
                        <li>Enhanced Content Strategy</li>
                        <li>Dedicated Account Manager</li>
                        <li>Priority Support and Consultation</li>
                        <li>Monthly Performance Reports</li>
                        <li>Easy credit-card payments</li>
                        <li>Pause or cancel anytime</li>
                    </ul>
                </div>
                <div class="grid-item-6">
                    <div>
                        <div>ADD-ON</div>
                    </div>
                    <h2>Web Design & Development</h2>
                    <p>
                        Get a visually stunning, user-friendly website tailored to your brand. <br>
                        A well-designed website enhances user experience, builds trust, and maximizes conversions.
                    </p>
                    <h2>$999 <span> / month</span></h2>
                </div>
            </div>
            
        </div>
    </div>

</section>