{{ define "main" }}
<!-- Name the folder according to 
    the corresponding content folder 
    will automatically overwrite the _default layout -->
<main>

    <section>
        
        <div class="container">

            <div class="spacer-sm"></div>

            <div class="rebuild-container">
                <h1>
                    Ready to Land Your Dream Job? 🚀 <br>
                    Let's Craft Your Winning Résumé!
                </h1>
    
                <p>
                    We get it. Writing a résumé can feel like a daunting task. <br>
                    But don't sweat it! Our team of résumé wizards is here 
                    to turn your career highlights into a compelling story 
                    that hiring managers can't resist. 
                    <br><br>

                    🌟 What You Get: <br>
                    ✨ Personalized, attention-grabbing résumé <br>
                    ✨ Keyword optimization for ATS success <br>
                    ✨ Cover letters that make you stand out <br>
                    ✨ Job-specific, tailor-made <br>
                    
                    <br>

                    Why stress over words when you could be prepping for that dream interview? <br>
                    Let's team up and make your career goals a reality 👇<br>
                    
                </p>
    
                <div class="spacer-sm"></div>
    
                <h2>
                    Ready to make a smart move? 🌐
                </h2>
                <br>
                <p>
                    It's simple. <br>
                    Step 1 - Create a <a href="https://docs.google.com/document/" target="_blank">Google Doc</a> <br>
                    Step 2 - Paste your current résumé and the links to job posts in it <br>
                    Step 3 - Share the link to the Google Doc, then paste it on the checkout page<br>
                    Step 4 - Wait for your tailor-made résumé to arrive in your inbox within 24 hours
                </p>

                <div class="spacer-sm"></div>

                <a class="cta-btn" href="https://buy.stripe.com/cN29Cx4252k38msbII" target="_blank" >
                    Get Started!
                </a>
            </div>

            <div class="spacer"></div>
            <div class="spacer"></div>
        </div>

    </section>
    
</main>


{{ end }}